[project]
	description = WSDL Parser for Golang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/starChou (starchou)
[access "refs/for/refs/*"]
	read = group user/starChou (starchou)
	push = group user/starChou (starchou)
	label-Code-Review = -2..+2 group user/starChou (starchou)
	label-Verified = -1..+1 group user/starChou (starchou)
	rebase = group user/starChou (starchou)
	removeReviewer = group user/starChou (starchou)
	submit = group user/starChou (starchou)
[access "refs/heads/*"]
	read = group user/starChou (starchou)
	create = group user/starChou (starchou)
	push = +force group user/starChou (starchou)
	pushMerge = group user/starChou (starchou)
[access "refs/tags/*"]
	push = +force group user/starChou (starchou)
	pushTag = group user/starChou (starchou)
	pushSignedTag = group user/starChou (starchou)
